@model RegisterCreateModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive admin dashboard and web application UI kit.">
    <meta name="keywords" content="register, signup">
    <title>User Registration 1 &mdash; TheAdmin</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="~/assets/assets/css/core.min.css" rel="stylesheet">
    <link href="~/assets/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/assets/css/style.min.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/assets/assets/img/apple-touch-icon.png">
    <link rel="icon" href="~/assets/assets/img/favicon.png">
</head>

<body>
    <div class="row min-h-fullscreen center-vh p-20 m-0">
        <div class="col-12">
            <div class="card card-shadowed px-50 py-30 w-400px mx-auto" style="max-width: 100%">
                <h5 class="text-uppercase">Create an account</h5>
                <br>

                <!-- Form -->
                <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-type-material">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Username" type="text" class="form-control" />
                        <label asp-for="Username">Username</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Email" type="email" class="form-control" />
                        <label asp-for="Email">Email address</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Password" type="password" class="form-control" />
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <label asp-for="ConfirmPassword">Password (confirm)</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>


                    <br />
                    <button class="btn btn-bold btn-block btn-primary" type="submit">Register</button>
                </form>
            </div>
            <p class="text-center text-muted fs-13 mt-20">
                Already have an account? <a class="text-primary fw-500" href="#">Sign in</a>
            </p>
        </div>

        <footer class="col-12 align-self-end text-center fs-13">
            <p class="mb-0"><small>Copyright © 2017 <a href="http://thetheme.io/theadmin">Abdurrahman Toprak</a>. All rights reserved.</small></p>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="~/assets/assets/js/core.min.js"></script>
    <script src="~/assets/assets/js/app.min.js"></script>
    <script src="~/assets/assets/js/script.min.js"></script>

    <!-- Validation Scripts -->
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
